#aboutMePara {
    font-size: 12px;

}

#aboutMeHeading {
    color: firebrick;
}

.centerContent {
    text-align: center;
}

#selfie {
    width: 400px;
    height: 400px;
    float: left;

}

.heading {
    font-family: 'Montserrat', sans-serif;
}


.realSkills {
    color:crimson;
}

#experience-list {
    background-color: aquamarine;
}



.nav li {
    display: inline;
    margin-right: 10px;
    font-size: 22px;
}