<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Controllers</title>
    <!-- Add the AngularJS CDN below -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>


</head>
<body ng-app="angControl">
    <div ng-controller="formController as fc">
        <input type="text" ng-model="fc.form.fname"><br>
        <input type="text" ng-model="fc.form.lname"><br>
        <input type="text" ng-model="fc.form.email"><br>
        <textarea ng-model="fc.form.comments"></textarea>
    </div>

</body>
<script>
    var app = angular.module('angController',[]);
    app.controller('formController',function(){
        this.form = {};
        this.forms = [];
    })
</script>
</html>