<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Controllers</title>
    <!-- Add the AngularJS CDN below -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

</head>
<body ng-app="myApp">

    <div ng-controller="formController as fc">
        First Name: <input type="text" ng-model="fc.form.fname"><br>
        Last Name: <input type="text" ng-model="fc.form.lname"><br>
        Email: <input type="text" ng-model="fc.form.email"><br>
        Comments: <textarea ng-model="fc.form.comments" ng-disabled="fc.checkCommentLength()"></textarea>
        <p>Characters Remaining: <span ng-bind="fc.remainingCommentLength()"></span></p>
        <button type="button" ng-click="fc.addForm()">Add Form</button>
        <hr>
        <div ng-controller="tableController as tc">
            <p>Total Entries: <span ng-bind="tc.totalEntries()"></span></p>
            <table>
                <tbody>
                    <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Comments</th>
                        <th>Operations</th>
                    </tr>
                    <tr ng-repeat = "form in formArray">
                        <td>{{form.fname + form.lname}}</td>
                        <td>{{form.email}}</td>
                        <td>{{form.comments}}</td>
                        <td><button type="button" ng-click="tc.removeRow($index)">Delete</button></td>
                    </tr>
                    <tr>
                        <td>{{fc.form.fname + fc.form.lname}}</td>
                        <td>{{fc.form.email}}</td>
                        <td>{{fc.form.comments}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


<script>
    var controlApp = angular.module("myApp",[]);
    controlApp.controller("formController", function($scope) {
        this.form = {};
        $scope.formArray = [{
            fname:"korey",
            lname: "lo",
            email:"klo009@gmail",
            comments: "hi"
        }];

        this.addForm = function(){
            $scope.formArray.push(this.form);
            this.form ={};
        };

        this.maxCommentLength = 20;
        this.remainingCommentLength = function(){
            if(this.form.comments === undefined){
                this.form.comments = '';
            }
            return this.maxCommentLength - this.form.comments.length;
        };

        this.checkCommentLength = function(){
            if(this.remainingCommentLength() <= 0){
                return true;
            }
            else{
                return false;
            }
        };
    });

    controlApp.controller("tableController",function($scope){
        this.removeRow = function(indexRow){
            $scope.formArray.splice(indexRow,1);
        };

        this.totalEntries = function(){
            return $scope.formArray.length;
        };
    })
</script>
</body>
</html>