<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Controllers</title>
    <!-- Add the AngularJS CDN below -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>


</head>
<body ng-app="angControl">
    <div ng-controller="formController as fc">
        <input type="text" ng-model="fc.form.fname" placeholder="First Name"><br>
        <input type="text" ng-model="fc.form.lname" placeholder="Last Name"><br>
        <input type="text" ng-model="fc.form.email" placeholder="email"><br>
        <textarea ng-model="fc.form.comments" placeholder="comments"></textarea>
        <button type="button" ng-click="fc.addForm()">Submit</button>
        <hr>
        <table>
            <tbody>
                <tr>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Comments</th>
                </tr>
                <tr ng-repeat = 'f in fc.forms'>
                    <td>{{f.fname + " " + f.lname}}</td>
                    <td>{{f.email}}</td>
                    <td>{{f.comments}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
<script>
    var app = angular.module('angControl',[]);
    app.controller('formController',function(){
        this.form = {};
        this.forms = [
            {fname:'Korey',
            lname:'Lo',
            email:'koreylo@gmail.com',
            comments:"TSM shoulda won"}
        ];
        this.addForm = function(){
            this.forms.push(this.form);
            this.form = {};
        }
    });
</script>
</html>