#header, #footer {
    background-color: yellow;
    height: 15vh;
}

#header, #main-content, #footer {
    border: 1px solid;

}

.nav{
    text-align: center;
}

.nav li{
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}

#main-content{
    text-align: center;
    height: 70vh;

}

}
.contact-info li{
    list-style-type: none;
    text-align: center;
}